<div class="jumbotron jumbotron-home">
	<div class="container">
		<h1>about us</h1>
		<p>We are the team that wants to create an application which is going to help users create teams, communicate and find similarities through the communication with the possibility of creating a good team for working together</p>
	</div>
</div>