<div id="memechat"> <p id="p">Chat </p><p id="pr"> By#{id}</p>
</div> 
<br>
<br>
<div id="holder">
	<form id="messageForm">
		<input type="text" id="messageInput" placeholder="Type..."/>
		<button type="submit"  id="btn" onclick="hidel()"> Send </button>
	</form>
	<div class="chat" id="chat" style="overflow-y:scroll; height:450px;">
	<div id="messageBox">
</div>
</div>
	<button type="submit"  id="btn1" onclick="showl()"> Show All </button>