<div class="jumbotron jumbotron-home">
	<div class="container">
		<center><h1>Welcome to the Portal</h1></center>
		<center><p>In this application you can create a team for assignments. You have the opportunity to search a person and  communicate with them for multiple reasons</p></center>
	</div>
</div>
