<h2>Notifications <span>17</span></h2>
      <div class="notifi-item">
        <div class="text">
           <h4>Elias Abdurrahman</h4>
           <p>@lorem ipsum dolor sit amet</p>
          </div> 
      </div>

      <div class="notifi-item">
        <div class="text">
           <h4>John Doe</h4>
           <p>@lorem ipsum dolor sit amet</p>
          </div> 
      </div>

      <div class="notifi-item">
        <div class="text">
           <h4>Emad Ali</h4>
           <p>@lorem ipsum dolor sit amet</p>
          </div> 
      </div>

      <div class="notifi-item">
        <div class="text">
           <h4>Ekram Abu </h4>
           <p>@lorem ipsum dolor sit amet</p>
          </div> 
      </div>

      <div class="notifi-item">
        <div class="text">
           <h4>Jane Doe</h4>
           <p>@lorem ipsum dolor sit amet</p>
          </div> 
      </div>