@import "bootstrap";

#notice_wrapper{
	position: absolute;
	top:0;
	width: 100%;
	z-index:999;
	background:rgba(135,216,211,0.85);
	.alert,.notice{
		padding:2.5rem 0;
		text-align:center;
		margi:0;
		font-size:1.25rem;
		font-weight:700;
		color: #FFFFFF;
		letter-spacing:1px;
	}
}